<button id="showCatalogueButton" *ngIf="!showCatalogueTable" (click)="showCatalogue()">Show Catalogue</button> 
<app-catalogue-search *ngIf="showCatalogueTable" [properties]="properties"></app-catalogue-search>
