.companyName {
    font-size: 120%;
}

#mainframe {
    margin-top: 2%;
    margin-bottom: 3%;
    width: 50%;
}

mat-toolbar {
    margin: 0 auto;
    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
    max-width: 100px;
}

mat-toolbar-row {
    min-height: 100px;
    max-height: 100px;
}

#container-for-headers {
    margin: auto;
    vertical-align: middle;
    background: #82c8a0;
    border-radius: 2px;
}

a {
    text-decoration: none;
    display: block;
    text-align: center;
    height: 24%;
    border-radius: 8px;
    font-family: B612;
    font-size: 20px;
    position: relative;
    border: 0;
    padding: 15px 25px;
    color: white;
}

.active {
    background: #4682B4;
}

.example-icon {
    padding: 0 14px;
}

.mat-sidenav-content {
    font-size: 200%;
    text-align: center;
}