<div id="mainframe" >
  <mat-toolbar   fxLayout="row" fxLayoutAlign="space-between stretch">
    <div fxFlex fxLayout fxLayoutAlign="center" id="container-for-headers">
      <mat-toolbar-row ><a  routerLinkActive="active" routerLink="/boolean-to-ifc">Boolean to IFC</a></mat-toolbar-row>
      <mat-toolbar-row><a routerLinkActive="active" routerLink="/ifc-to-boolean">IFC to Boolean</a></mat-toolbar-row>
      <mat-toolbar-row><a routerLinkActive="active" routerLink="/ifc-to-catalogue">IFC to Catalogue</a></mat-toolbar-row>
      <mat-toolbar-row><a routerLinkActive="active" routerLink="/boolean-to-catalogue">Boolean to Catalogue</a></mat-toolbar-row>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
       <a mat-button routerLink="/boolean-to-ifc">Boolean to IFC</a>
       <a mat-button routerLink="/ifc-to-boolean">IFC to Boolean</a>
       <a mat-button routerLink="/boolean-to-catalogue">Boolean to Catalogue</a>
       <a mat-button routerLink="/ifc-to-catalogue">IFC to Catalogue</a>
     </div>
   </mat-sidenav>
 </mat-sidenav-container>

 <div fxShow="true" fxHide.gt-sm="true">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</div>