mat-grid-tile {
    background: lightblue;
}

mat-grid-list {
    width: 42%;
    /* margin-left: 26%; */
    margin: 0 auto;
    margin-bottom: -20%;
}

label {
    font-family: B612;
    font-size: 16px;
    font-weight: bold;
}

.selectdiv {
    position: relative;
    float: left;
    min-width: 90%;
    max-width: 90%;
    margin-top: 50px;
    margin-right: 33%;
    margin-left: 33%;
    margin-bottom: 50px;
}

#table-div {
    margin-top: 2%;
    padding-top: 1%;
}

select::-ms-expand {
    display: none;
}

#searchButton {
    background: #82c8a0;
    /*background: #4682B4;*/
    border: 0;
    border-radius: 8px;
    color: white;
    display: block;
    font-family: B612;
    font-size: 20px;
    padding: 20px 70px;
    text-decoration: none;
    text-align: center;
}

#searchButtonCell {
    background: white;
    width: 20%;
}

#selectproductdiv {
    width: 60%;
    display: block;
    margin: 0 auto;
}

#selectproductdiv mat-grid-tile {
    background: white;
}

#selectproductdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
    display: block;
    font-family: B612;
    font-size: 16px;
    float: right;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
    display: block;
    font-family: B612;
    font-size: 16px;
    width: 100%;
    float: right;
    margin: 5px 0px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
}

select:disabled {
    background-color: #cccccc;
}

table {
    min-width: 40%;
    max-width: 70%;
    margin: 0 auto;
    font-family: B612;
    font-size: 16px;
    border-spacing: 10px;
    border-collapse: separate;
}

td {
    padding: 6px;
}

#paginatorContainer {
    width: 50%;
}

mat-paginator {
    position: relative;
    margin: 0 auto;
    font-family: B612;
    font-size: 16px;
}