<div id="selectproductdiv">
    <mat-grid-list cols="1" rowHeight="7:2">
        <mat-grid-tile>
            <div class="selectdiv">
                <label>Product</label>
                <select id="productDropdown">
                            <option *ngFor="let value of products">{{value}}</option>
                        </select>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>


<mat-grid-list cols="2" rowHeight="7:2" [gutterSize]="'10px'">
    <mat-grid-tile *ngFor="let property of properties">
        <div class="selectdiv">
            <label>{{property.name}}          {{property.unit}}</label>
            <select (change)="onEditClick($event.target.value, property.name)" [disabled]="property.disabled">
                <option *ngIf="!property.disabled">All ...</option>
                <option *ngIf="property.disabled"></option>
				<option *ngFor="let value of property.selectableValues">{{value}}</option>
			</select>
        </div>
    </mat-grid-tile>
    <mat-grid-tile id="searchButtonCell">
        <button id="searchButton" (click)="search()">Search</button>
    </mat-grid-tile>
</mat-grid-list>

<div class="mat-elevation-z8" id="table-div" *ngIf="showSearchResults">
    <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container *ngFor="let property of displayedColumns" [matColumnDef]="property">
            <th mat-header-cell *matHeaderCellDef> {{property}}</th>
            <td mat-cell *matCellDef="let element"> {{element.getValue(property)}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div id="paginatorContainer">
        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </div>
</div>