<mat-card>
  <form [formGroup]="uploadForm" (ngSubmit)="uploadToServer()">
    <mat-card-content>
      <input #fileInput ng2FileSelect accept=".txt" type="file" [uploader]="uploader" /><br/>
      <div class="select-file-box" (click)="fileClicked()">
        <span class="select-file-title">Select File with Boolean Expressions</span>
      </div>
      <div id="selectedFileContainer">
        <p class="selectedFile">{{selectedFileName}}</p>
      </div>
      <button id="convertButton" *ngIf="uploader.queue.length > 0 && !fileUploaded" type="submit">Convert to Catalogue</button>
     
      <app-catalogue-generation *ngIf="fileUploaded"></app-catalogue-generation>
  </mat-card-content>
</form>
</mat-card>