.select-file-box {
    background: 808000;
    border: 5px dashed #DDD;
    cursor: pointer;
    font-family: B612;
    font-size: 20px;
    margin-left: 30%;
    margin-bottom: 1%;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    width: 30%;
}

.select-file-title {
    font-family: B612;
    font-size: 26px;
}

input[type='file'] {
    display: none;
}

#convertButton {
    background: #4682B4;
    border: 0;
    border-radius: 8px;
    color: white;
    display: block;
    font-family: B612;
    font-size: 20px;
    height: 24%;
    margin: auto;
    margin-left: 35%;
    margin-bottom: 2%;
    padding: 15px 25px;
    text-decoration: none;
    text-align: center;
    width: 20%;
}

.selectedFile {
    position: relative;
    border: 0;
    display: block;
    font-family: B612;
    font-size: 20px;
    height: 24%;
    margin: auto;
    padding: 1% 10% 1% 1%;
    text-decoration: none;
    text-align: center;
}

#selectedFileContainer {
    width: 100%;
    margin: auto;
}