.select-file-box {
  background: 808000;
  border: 5px dashed #DDD;
  cursor: pointer;
  font-family: B612;
  font-size: 20px;
  margin-left: 30%;
  margin-bottom: 1%;
  padding: 40px;
  text-align: center;
  width: 25%;
}

.select-file-title{
  font-family: B612;
  font-size: 26px;
}


input[type='file'] {
  display: none;
}

#convertButton, #downloadButton{
  background: #4682B4;
  border: 0;
  border-radius: 8px;
  color: white;
  display: block;
  font-family: B612;
  font-size: 20px;
  height: 24%;
  margin: auto;
  margin-left: 35%;
  padding: 15px 25px;
  text-decoration: none;
  text-align: center;
  width: 20%;  }


.selectedFile{
  border: 0;
  display: block;
  font-family: B612;
  font-size: 20px;
  height: 24%;
  margin: auto;
  padding: 15px 25px 5px 35px;
  text-decoration: none;
  text-align: center;
  width: 20%;}