<mat-card>
  <form [formGroup]="uploadForm" (ngSubmit)="uploadToServer()">
    <mat-card-content>
      <input #fileInput ng2FileSelect accept=".txt" type="file" [uploader]="uploader" /><br/>
      <div class="select-file-box" (click)="fileClicked()">
        <span class="select-file-title">Select File with Boolean Expressions</span>
      </div>
      
      <p class="selectedFile" *ngIf="uploader.queue.length > 0">{{uploader.queue[uploader.queue.length - 1]._file.name}}</p>
      <button id="convertButton" *ngIf="uploader.queue.length > 0 && !fileUploaded" type="submit">Convert to IFC</button>
      <button id="downloadButton" *ngIf="fileUploaded"  (click)="download()">Download IFC</button>    

      <div *ngIf="currentFileUpload" class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" style="width: 25%" aria-valuemin="0" aria-valuemax="100" attr.aria-valuenow="{{progress.percentage}}"
        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">{{progress.percentage}}%</div>
      </div>

    </mat-card-content>
  </form>
</mat-card>
